#adds
{
    color: green;
}

#subs
{
    color: orchid;
}

#mply
{
    color: orange;
}

#dvd
{
    color: purple;
}

#mops
{
    color: red;
}

#mduls
{
    color: pink;
}